//MEDIA QUERIE 
@media (max-width: 1200px) {
	.skill-set {
	@include span-columns (3.5);
	@include shift (0.37);
	}

}	

@media (max-width: 1034px) {
	.menu{
		@include span-columns (12);
		height: 15vh;
		background: white;
		position: fixed;
		top:0;
		left:0;
		float: left;
		z-index: 5;
	}
	ul.menu{
	text-align: left;
	@include shift (0);
	padding-top: 2%;
	height: 20vh;
	}
	ul.menu li{
		display: inline-block;
		padding: 0;
		margin: 0 2%;
	}
	.home-link-icon {
		padding: 20px 0 !important;
		background: url(images/JS-H.png);
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		width: 50px;
	}
	.textwidget{
	@include span-columns (2);
	@include shift (9.5);
	height: 10vh;
	padding: 20px 0 0 0; 
	background: white;
	position: fixed;
	top:0;
	margin-top: 2%;
	text-align: right;
	}
	//ABOUT ME
	.container {
	@include span-columns (12);
	@include shift (0);
	padding-bottom: 0;
	}

	.about-me{
	@include span-columns (12);
	@include shift(0);
	}
	.about-me_content{
	position: absolute;
	top:5%;
	@include span-columns (10);
	@include shift(1);
	background:white;
	text-align: center;
	padding: 5%;
	margin-top: 20vh;
	border: 4px solid black;
	}

	#portfolio{
	border-top: none;
	}
	#portfolio:hover{
	background: $lightgrey;
	}
	.portfolio-peice{
	@include span-columns (12);
	@include shift(0);
	}
	.portfolio-img{
	@include span-columns (10);
	@include shift(0);
	}
	.portfolio-img img{
	margin: 0;
	padding:0;
	}
	#contact{
	clear: both;	
	@include span-columns (12);
	@include shift(0);
	}
	.contact-form{
	@include span-columns (10);
	@include shift(1);
	}	
}
@media (max-width: 675px) {
	.portfolio-container{
		transform: none;
	}
	.portfolio-content{
		transform: none;
	}
	.portfolio-link p:nth-child(odd){
		transform: none;
	}
	.portfolio-peice:nth-child(even){
		.portfolio-container:nth-child(even) {
		    transform: none;
		}
		.portfolio-link p:nth-child(odd) {
			transform: none;
		}
		.portfolio-content:nth-child(even) {
		    transform: none;
		}
	}
	.portfolio-img{
		@include span-columns (8);
	}
	.portfolio-container{
		@include span-columns (4);
	}
	.skill-set {
	@include span-columns (4);
	@include shift (0);
	}
}
@media (max-width:540px) {
	i.fa{
	font-size: 18px;
	padding: 0 2%;
	}
}

@media (max-width: 495px) {
	.menu{
		font-size: 0.8em;
		text-transform: capitalize;
	}
	ul.menu li{
		padding: 0;
		margin: 0 2%;
	}
	.portfolio-peice{
	height: 100vh;
	}
	.portfolio-img{
		@include span-columns (12);
	}
	.portfolio-container{
		@include span-columns (13);
		@include shift (2);
		height: 25vh;
		position: absolute;
		bottom: 0;
		right:0;
		height: 50vh;
		width: 100%
	}
	.portfolio-content{
		padding-right: 2%;
	}
	#menu-item-80{
		display: none;
		visibility: hidden;
	}
	.skill-set{
		margin-top: 5%;
		@include span-columns (12);
		margin-bottom: 0;
	}
	.skill-set img{
		visibility: hidden;
	}
	.skill-set_content{
		top: 9%;
		bottom: 0;
	}
	.technology p{
	display:none;
	visibility: hidden;
	}
	.portfolio-link{
		left: 0;
	}
	.contact-form{
		margin-top: 7%;
		background: $lightgrey;
	}
	footer{
		font-size: 0.8em;
	}

}